a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
p {
  color: #bc9000;
  text-align: center;
  font-size: 48px;
  font-family: fantasy;
}
#head {
  margin: 100 0 100 0;
}
#Menü {
  border-style: black;
  border: 2 2 2 2;
}
