a {
  text-decoration: none;
  color: #424344;
  font-size: 24px;
}
#headline {
  color: #bc9000;
  text-align: center;
  font-size: 48px;
  font-family: fantasy;
}
#head {
  margin: 100 0 100 0;
}
#Menu {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #c4c4c4;
  display: inline-block;
} 
#us {
  display: inline-block;
  text-align: center;
  margin: auto;
}
h1 {
    vertical-align: middle;
}
#table {
  display: inline-block;
  margin: auto;
  width: 100%
}
td {
  font-size: 20px
}
th {
  font-size: 30px;
  text-decoration: underline;
  text-align: center
}
#ut {
  font-size: 25px
}
#Disclaimer {
  position: absolute;
  right: 7px;
  bottom: 7px
}
html {
  height: 100%;
  width: 100%;
}
