#header {
  background-color: #ededed;
  position: fixed;
  left: 0;
  top: 0;
}
  
#left {
  background-color: #ededed;
  position: fixed;
  left: 0;
  top: 0;
}

#right {
  position: relative;
  left: 13%;
  top: 15%;
}

#menu {
  position: fixed;
  left: 0;
  top: 15%;
}

#leer {
  position: fixed;
  left: 13%;
  top: 0;
}
