#header {
  background-color: #ededed;
  position: fixed;
  left: 0;
  top: 0;
  z-index: +1;
  width: 100%; 
  height: 15%
}
  
#left {
  float: left;
  width: 100 %;
}

#right {
  float: right;
  width: 100 %;
}

#menu {
  position: fixed;
  left: 0;
  top: 15%;
  z-index: +16;
}

#leer {
  position: fixed;
  left: 13%;
  top: 0;
}

#headdiv {
  vertical-align: middle;
  text-align: center;
  z-index: +30;
  height: 15%;
  width: 100%;
  position: fixed;
}

h1 {
  vertical-align: middle;
  text-align: center;
  color: #c49c19;
  font-size: 54px;
  z-index: +30;
  position: fixed;
  left: 0%;
  right: 0%;
}

#text {
  z-index: -10;
}

a {
  text-decoration: none;
  color: #c49c19;
}

@media screen and (max-width: 600px) {
  .left, .right{
    width: 100%;
  }
}
    

@media screen and (max-height: 800px) {
  #header {
    height: 130px;
  }
}
    
@media screen and (max-width: 540px) {
  h1 {
    font-size: 42px;
  }
}

#left div div p {
  font-size: 50px;
  color: #c49c19;
}

ul {
  font-size: 30px; 
}

@media screen  and (max-width :440px) {
  .left, .right{
    width:100%;
}
}
@media screen  and (min-width :440px) {
  #left {
    background-color: #ededed;
    position: fixed;
    left: 0;
    top: 0;
  }
}

@media screen  and (min-width :440px) {
  #right {
    position: absolute;
    left: 34%;
    top: 15%;
    background-color: #ffffff
    z-index: -1;
  }
}
